<style>
  .product-container2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Para pantallas pequeñas, muestra una columna */
    gap: 20px;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  .product-item {
    text-align: center;
  }

  .product-item img {
    max-width: 100%;
    height: auto;
  }

  .titleus {
    font-size: 14px !important;
    text-align: left;
    font-weight: 600;
    text-decoration: none;
  }

  .titleusm {
    font-size: 36px;
    font-weight: 600;
  }

  .titleup {
    text-align: left;
    font-weight: 600;
    font-size: 22px;
    margin-top: -5px;
  }

  @media (min-width: 576px) {
    /* Para pantallas de 576 píxeles en adelante */
    .product-container2 {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 768px) {
    /* Para pantallas de 768 píxeles en adelante */
    .product-container2 {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: 992px) {
    /* Para pantallas de 992 píxeles en adelante */
    .product-container2 {
      grid-template-columns: repeat(4, 1fr);
    }
  }
</style>
{% if product.metafields.custom.upsell %}
  <div class="product-container2">
    <h2 class="titleusm">Up sell</h2>
  </div>

  <div class="product-container2">
    {% assign upsell_products = product.metafields.custom.upsell.value %}

    {% for upsell_product in upsell_products %}
      <div class="product-item">
        <a href="{{ upsell_product.url }}">
          <img src="{{ upsell_product.featured_image | img_url: '240x300' }}">
          <h3 class="titleus">{{ upsell_product.title }}</h3>
          <p class="titleup">{{ upsell_product.price }}</p>
        </a>
      </div>
    {% endfor %}
  </div>
{% endif %}
