<style>
  .product-container2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Para pantallas pequeñas, muestra una columna */
    gap: 20px;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  .product-item {
    text-align: center;
  }

  .product-item img {
    max-width: 100%;
    height: auto;
  }

  .titleus {
    font-size: 14px !important;
  }

  @media (min-width: 576px) {
    /* Para pantallas de 576 píxeles en adelante */
    .product-container2 {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 768px) {
    /* Para pantallas de 768 píxeles en adelante */
    .product-container2 {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: 992px) {
    /* Para pantallas de 992 píxeles en adelante */
    .product-container2 {
      grid-template-columns: repeat(4, 1fr);
    }
  }
</style>

<div class="product-container2">
  {% assign upsell_products = product.metafields.custom.upsell.value %}

  {% for upsell_product in upsell_products %}
    <div class="product-item">
      <img src="{{ upsell_product.featured_image | img_url: '240x300' }}">
      <h2 class="titleus">{{ upsell_product.title }}</h2>
      <p>{{ upsell_product.price }}</p>
    </div>
  {% endfor %}
</div>
